* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'GoogleSans';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	letter-spacing: 0px;
	background-color: #fff;
}

/* FONT-FACE */
	@font-face {
		font-family: 'GoogleSans';
		src:  url('assets/typo/GoogleSans-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'GoogleSans';
		src:  url('assets/typo/GoogleSans-Medium.ttf') format('truetype');
		font-weight: medium;
		font-style: normal;
	}
	@font-face {
		font-family: 'GoogleSans';
		src:  url('assets/typo/GoogleSans-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
	}

/* GLOBAL HEADING */
	h2 {
		color: rgb(56, 61, 65);
		font-weight: bold;
		font-size: 40px;
		letter-spacing: -1px;
	}
	h5 {
		font-size: 18px;
		font-weight: bold;
		color: rgb(108, 117, 125);
	}

/* GLOBAL BUTTON */
	/* CTA BUTTON */
		.cta-btn a {
			color: #fff;
			margin: 20px 0;
			padding: 12px 24px;
			border-radius: 40px;
			border: none;
			font-size: 20px;
			font-weight: bold;
			box-shadow: 0 5px 1px -1px lightgrey;
			transition: 0.5s;
			background-image: linear-gradient(-120deg, #ec89ff 0%, #b990ff 25%, #007bf6 50%, #00e3fd 100%);
			background-size: 200% auto;
		}
		.cta-btn a:hover {
			transform: translateY(3px);
			background-position: right center;
			box-shadow: 0 3px 1px -1px grey;
			color: #fff;
		}
	/* PRIMARY BUTTON */
		.primary-btn {
			padding: 40px 0;
		}
		.primary-btn a {
			color: #fff;
			margin: 20px 0;
			padding: 12px 24px;
			border-radius: 40px;
			border: none;
			font-size: 18px;
			font-weight: bold;
			box-shadow: 0 5px 1px -1px lightgrey;
			background: linear-gradient(-120deg, #b990ff, #007bf6, #00e3fd);
			transition: .3s;
		}
		.primary-btn a:hover {
			transform: translateY(3px);
			background-position: right center;
			box-shadow: 0 3px 1px -1px grey;
			color: #fff;
		}
	/* SECONDARY BUTTON */
		.secondary-btn {
			text-align: center; 
		}
		.secondary-btn a {
			width: 100%;
			color: #fff;
			margin: 26px 0 0;
			padding: 12px 24px;
			border-radius: 40px;
			border: none;
			font-size: 16px;
			font-weight: bold;
			background-color: rgba(255, 255, 255, .25);
			backdrop-filter: blur(2px);
			transition: .3s;
		}
		.secondary-btn a:hover {
			transform: translateY(3px);
			background-color: rgba(0, 0, 0, .25);
			color: #fff;
		}
	/* UPDATE BUTTON */
		/*PRIMARY*/
			.update-btn {
				text-align: left; 
			}
			.update-btn a {
				width: auto;
				color: #fff;
				margin: 26px 0 0;
				padding: 12px 24px;
				border-radius: 40px;
				border: none;
				font-size: 16px;
				font-weight: bold;
				background-color: rgb(0, 123, 246, .90);
				transition: .3s;
			}
			.update-btn a:hover {
				transform: translateY(3px);
				background-color: rgba(0, 0, 0, .50);
				color: #fff;
			}
		/*SECONDARY*/
			.second-update-btn {
				text-align: left; 
			}
			.second-update-btn a {
				width: auto;
				color: #fff;
				margin: 20px 0 0;
				padding: 12px 24px;
				border-radius: 40px;
				border: none;
				font-size: 12px;
				font-weight: bold;
				background-color: rgb(0, 123, 246, .90);
				transition: .3s;
			}
			.second-update-btn a:hover {
				transform: translateY(3px);
				background-color: rgba(0, 0, 0, .50);
				color: #fff;
			}
		/*MORE*/
			.btn-more {
				text-align: left; 
			}
			.btn-more a {
				width: auto;
				color: #fff;
				padding: 12px 24px;
				border-radius: 40px;
				border: none;
				font-size: 14px;
				font-weight: bold;
				background-color: rgb(0, 0, 0, .25);
				transition: .3s;
			}
			.btn-more a:hover {
				transform: translateX(5px);
				background-color: rgba(0, 0, 0, .50);
				color: #fff;
			}

/* HEADER */
	#header .navbar {
		background-color: transparent;
		-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	}
	#header #navbarNav a {
		width: 100%;
		text-decoration: none;
		border-radius: 40px;
		padding: 12px 24px;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		background-color: rgba(0, 0, 0, .50);
		transition: .3s;
	}
	#header #navbarNav a:hover {
		background-color: rgb(0, 0, 0, .25);
		transform: translateX(3px);
	}
	#header .navbar.solid {
		background-color: rgba(255, 255, 255, .90);
	}

/* LANDING */
	#landing {
		padding: 80px 0;
	}
	/* FLUID LANDING */
		#fluid {
			position: absolute;
			right: 0;
			left: 0;
			top: -7%;
			z-index: -1;
		}
	/* SLOGAN */
		#landing .slogan {
			margin: 120px 0;
			padding: 0 20px;
		}
		#landing .slogan h1 {
			font-size: 38px;
			font-weight: bold;
			line-height: 1.6;
			letter-spacing: -1.5px;
			animation: flow 30s ease-in-out infinite;
			background: linear-gradient(-120deg, #ec89ff, #b990ff, #007bf6, #00e3fd);
			background-size: 300%;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		@keyframes flow {
			0% {
				background-position: 0 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0;
			}
		}
		#landing .slogan p {
			font-size: 18px;
			font-weight: bold;
			letter-spacing: -0.5px;
			color: rgb(108, 117, 125);
		}
		
	/* ISOMETRIC */
		#landing .isometric #pin {
			position: absolute;
			margin: -7px -7px;
			-webkit-animation: up-down 1s infinite  alternate;
			animation: up-down 1s infinite  alternate;
		}
		@-webkit-keyframes up-down {
			0% { 
				transform: translateY(0); 
			}
			100% { 
				transform: translateY(-10px); 
			}
		}
		@keyframes up-down {
			0% { 
				transform: translateY(0); 
			}
			100% { 
				transform: translateY(-10px); 
			}
		}

/* ABOUT */
	#about {
		padding: 80px 0;
		background-color: #e9ecef;
	}
	#about .video {
		margin-top: -200px;
	}
	#about .video iframe {
		top: 0;
		left: 0;
		border: 0;
		width: 100%;
		height: 512px;
		border-radius: 40px;
		background-color: #000;
		opacity: .3;
	}

/* SMART CITY CATS */
	#smart-city {
		padding: 80px 0;
	}
	#smart-city .card-custom {
		padding: 40px 60px;
		border-radius: 30px;
		background: linear-gradient(-120deg, #00e3fd, #007bf6);
		-webkit-box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.5);
		color: #fff;
	}
	#smart-city .card-custom .categories {
		margin-top: 0px;
	}
	#smart-city .card-custom .title {
		width: 25%;
		line-height: 1.2;
		text-transform: uppercase;
		font-size: 34px;
		font-weight: 700;
		text-align: left;
	}
	#smart-city .card-custom .info {
		padding: 20px 0 0;
	}

/* PARTNERS */
	#partners {
		padding: 80px 0 0;
		background-color: #e9ecef;
	}
	#partners .border {
		border: 2px solid black;
		width: 20%;
	}
	#partners img {
		width: 55%;
	}

/* UPDATE */
	#update {
		padding: 80px 0;
	}
	/* MAIN CARD */
		#update .card-update {
			padding: 40px 60px;
			background: #fff;
			-webkit-box-shadow: 0px 15px 40px -5px rgba(0, 0, 0, 0.1);
			box-shadow: 0px 15px 40px -5px rgba(0, 0, 0, 0.1);
			border-radius: 30px;
		}
		#update .card-update img {
			width: 100%;
			margin: auto;
		}
		#update .card-update .new {
			text-transform: uppercase;
			text-align: left;
			padding: 12px 0;
			color: rgb(108, 117, 125);
			font-weight: bold;
		}
		#update .card-update .title {
			width: 100%;
			font-size: 32px;
			font-weight: 700;
			text-align: left;
			line-height: 1.2;
		}
		#update .card-update .date {
			margin-top: 8px;
			font-size: 14px;
			font-weight: 700;
			text-align: left;
			color: rgb(108, 117, 125);
		}
		#update .card-update .info {
			padding: 20px 0 0;
			text-align: left;
			font-size: 14px;
		}
	/* SECOND CARDS */
		#update .card-update-second {
			padding: 30px 30px;
			background: #fff;
			-webkit-box-shadow: 0px 15px 40px -5px rgba(0, 0, 0, 0.1);
			box-shadow: 0px 15px 40px -5px rgba(0, 0, 0, 0.1);
			border-radius: 30px;
		}
		#update .card-update-second .picture {
			width: 50%;
			margin: auto;
		}
		#update .card-update-second img {
			width: 100%;
			border-radius: 20px;
		}
		#update .card-update-second .data {
			width: 50%;
			padding: 0 0 0 20px;
		}

		#update .card-update-second .title {
			width: 100%;
			font-size: 20px;
			font-weight: 700;
			text-align: left;
			line-height: 1.2;
		}
		#update .card-update-second .date {
	    font-size: 12px;
	    font-weight: 700;
	    text-align: left;
	    color: rgb(108, 117, 125);
		}
		#update .card-update-second .info {
			padding: 15px 0 0;
			text-align: left;
			font-size: 12px;
			line-height: 1.4;
		}
		#update .card-update-second .btn-wrapper {
			height: 100%;
		}
	/* MORE */
		#update .more-card-wrapper {
			height: 100%;
		}
		#update .more-card {
			width: 55%;
			padding: 15px 20px;
			background: #fff;
			-webkit-box-shadow: 0px 15px 40px -5px rgba(0, 0, 0, 0.1);
			box-shadow: 0px 15px 40px -5px rgba(0, 0, 0, 0.1);
			border-radius: 40px;
		}
		#update .more-card .btn-more-wrapper {
			width: 100%;
		}


/* MEDIA QUERIES */

	/*Extra small devices (portrait phones, less than 576px)*/
	@media (max-width: 575.98px) { 
		/* LANDING */
			/* FLUID LANDING */
				#fluid {
					position: absolute;
					right: 0;
					left: 0;
					top: 0%;
					z-index: -1;
				}
			#landing {
				padding: 0;
			}
			#landing .isometric #pin {
				margin: 0;
			}
			#landing .isometric .svg-img {
				position: absolute; 
				z-index: 1;
				left: 0;
			}
			#landing .isometric .bg-isometric {
				height: 100%;
			}
			/* SLOGAN */
				#landing .slogan {
					margin: 120px 0 0;
					padding: 0 30px 0;
				}
				#landing .slogan h1 {
					font-size: 24px;
					width: 70%;
				}
				#landing .slogan p {
					font-size: 14px;
					width: 70%;
				}
		
		/* ABOUT */
			#about {
				padding: 80px 0 0;
				background-color: #e9ecef;
			}
			#about .video {
				margin-top: -140px;
			}
			#about .video iframe {			
				height: 240px;
			}
		
		/* PARTNERS */
			#partners {
				padding: 40px 0;
			}
			#partners img {
				width: 80%;
			}

		/* UPDATE */
			#update .card-update {
				padding: 20px 40px;
			}
			#update .card-update .new {
				font-size: 12px;
			}
			#update .card-update .date {
				font-size: 12px;
			}
			#update .card-update .title {
				font-size: 20px;
			}
			#update .card-update .info {
				font-size: 12px;
			}
			/* SECOND */
				#update .second-col-card {
					padding: 1.5rem 0;
				}
				#update .card-update-second {
					padding: 20px 20px;
				}
				#update .card-update-second .title {
			    font-size: 14px;
			    line-height: 1.1;
				}
				#update .card-update-second .date {
					font-size: 10px;
				}
				#update .card-update-second .info {
			    padding: 8px 0 0;
			    font-size: 10px;
			    line-height: 1.1;
				}
				#update .more-card {
					padding: 10px 15px;
				}

		/* GLOBAL HEADING */
			h2 {
				font-size: 32px;
			}
			h5 {
				font-size: 16px;
			}
		/* GLOBAL BUTTON */
			/* CTA BUTTON */
				.cta-btn a {
					margin: 10px 0;
					padding: 10px 18px;
					font-size: 14px;
				}
			/*PRIMARY BUTTON */
				.primary-btn {
					padding: 20px 0;
				}
				.primary-btn a {
					margin: 10px 0;
					padding: 10px 18px;
					font-size: 14px;
				}
			/*UPDATE BUTTON*/
				.update-btn {
					text-align: center;
				}
				.update-btn a {
					width: 100%;
					margin: 26px 0 6px;
					padding: 12px 22px;
					font-size: 12px;
				}
				.second-update-btn a {
					padding: 8px 20px;
					font-size: 10px;
				}
				.btn-more a {
					padding: 10px 22px;
					font-size: 10px;
				}

				

	}

	/* Small devices (landscape phones, 576px and up)*/
	@media (min-width: 576px) and (max-width: 767.98px) {
		/* LANDING */
			/* FLUID LANDING */
				#fluid {
					position: absolute;
					right: 0;
					left: 0;
					top: 0%;
					z-index: -1;
				}
			#landing {
				padding: 0;
			}
			#landing .isometric #pin {
				margin: 9px 9px;
			}
			#landing .isometric .bg-isometric {
				height: 60%;
			}
			/* SLOGAN */
				#landing .slogan {
					margin: 120px 0;
					padding: 0 12px 60px;
				}
				#landing .slogan h1 {
					font-size: 24px;
				}
				#landing .slogan p {
					font-size: 12px;
				}
		
		/* ABOUT */
			#about {
				padding: 80px 0 0;
				background-color: #e9ecef;
			}
			#about .video {
				margin-top: -160px;
			}
			#about .video iframe {			
				height: 320px;
			}
		
		/* PARTNERS */
			#partners {
				padding: 40px 0;
			}
			#partners img {
				width: 80%;
			}

		/* UPDATE */
			#update .second-col-card {
				padding: 1.5rem 0;
			}

		/* GLOBAL HEADING */
			h2 {
				font-size: 32px;
			}
			h5 {
				font-size: 16px;
			}
		/* GLOBAL BUTTON */
			/* CTA BUTTON */
				.cta-btn a {
					margin: 10px 0;
					padding: 10px 18px;
					font-size: 14px;
				}
			/*PRIMARY BUTTON */
				.primary-btn {
					padding: 20px 0;
				}
				.primary-btn a {
					margin: 10px 0;
					padding: 10px 18px;
					font-size: 14px;
				}
	}

	/* Medium devices (tablets, 768px and up)*/
	@media (min-width: 768px) and (max-width: 991.98px) {
		/* LANDING */
			/* FLUID LANDING */
				#fluid {
					position: absolute;
					right: 0;
					left: 0;
					top: 0%;
					z-index: -1;
				}
			#landing {
				padding: 60px 0;
			}
			#landing .isometric #pin {
				height: 50%;
			}
			#landing .isometric .bg-isometric {
			}
			/* SLOGAN */
				#landing .slogan {
					margin: 120px 0;
					padding: 0 12px 60px;
				}
				#landing .slogan h1 {
					font-size: 30px;
				}
				#landing .slogan p {
					font-size: 16px;
				}
		
		/* ABOUT */
			#about {
				padding: 80px 0 0;
				background-color: #e9ecef;
			}
			#about .video {
				margin-top: -160px;
			}
			#about .video iframe {			
				height: 320px;
			}
		
		/* PARTNERS */
			#partners {
				padding: 40px 0;
			}
			#partners img {
				width: 80%;
			}

		/* UPDATE */
			#update .second-col-card {
				padding: 1.5rem 0;
			}

		/* SMART CITY CATS */
			#smart-city .card-custom {
				padding: 40px 40px;
			}

		/* GLOBAL HEADING */
			h2 {
				font-size: 32px;
			}
			h5 {
				font-size: 16px;
			}
	}

	/*Large devices (desktops, 992px and up)*/
	@media (min-width: 992px) and (max-width: 1199.98px) {
		/* SMART CITY CATS */
		#smart-city .card-custom {
			padding: 40px 40px;
		}

		#smart-city .card-custom .info {
	    font-size: 14px;
		}

		#smart-city .card-custom .title {
		  width: 25%;
			line-height: 1.2;
			text-transform: uppercase;
			font-size: 28px;
			font-weight: 700;
			text-align: left;
		}
	}


