* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'GoogleSans';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	letter-spacing: 0px;
	background-color: #fff;
	overflow-x: hidden;
}

/* BLOB */
	#landing-blob {
	  position: absolute;
	  width: 50%;
	  top: 85%;
	  z-index: -99;
	  left: -20%;
	  transform: rotate(30deg);
	}

	.tiny-blob {
    overflow-x: hidden;
    z-index: -1;
	}

	#tiny-blob {
	  position: absolute;
	  width: 50%;
	  left: -17%;
	}

	#tiny-blob2 {
	  position: absolute;
	  width: 50%;
	  right: -17%;
	  transform: rotate(90deg);
	}

	#tiny-blob3 {
	  position: absolute;
	  width: 50%;
	  right: -17%;
	  margin-top: 40%;
	  transform: rotate(90deg);
	}

	#tiny-blob4 {
		position: absolute;
		width: 50%;
	  left: -26%;
	  margin-top: 40%;
	}


/* COLOR PALLETE
	Navy: #073042
	Blue: #4285f4
	Green: #3ddc84
	Orange: #f86734
	chartreuse: #eff7cf
	blue-ish: #d6f0ff
	Purple: ec89ff
*/

/* MATERIAL ICON */
	@font-face {
	  font-family: 'Material Icons';
	  font-style: normal;
	  font-weight: 400;
	  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
	}

	.material-icons {
	  font-family: 'Material Icons';
	  font-weight: normal;
	  font-style: normal;
	  font-size: 24px;
	  line-height: 1;
	  letter-spacing: normal;
	  text-transform: none;
	  display: inline-block;
	  white-space: nowrap;
	  word-wrap: normal;
	  direction: ltr;
	  -webkit-font-feature-settings: 'liga';
	  -webkit-font-smoothing: antialiased;
	}

/* FONT-FACE */
	@font-face {
		font-family: 'GoogleSans';
		src:  url('assets/typo/GoogleSans-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'GoogleSans';
		src:  url('assets/typo/GoogleSans-Medium.ttf') format('truetype');
		font-weight: medium;
		font-style: normal;
	}
	@font-face {
		font-family: 'GoogleSans';
		src:  url('assets/typo/GoogleSans-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
	}

/* GLOBAL HEADING */
	h2 {
		color: rgb(56, 61, 65);
		font-weight: bold;
		font-size: 40px;
		letter-spacing: -1px;
	}
	h5 {
		font-size: 18px;
		font-weight: bold;
		color: rgb(108, 117, 125);
	}

/* GLOBAL BUTTON */

	/* CTA BUTTON */
		.cta-btn a {
			color: #fff;
			margin: 20px 0;
			padding: 12px 24px;
			border-radius: 40px;
			border: none;
			font-size: 20px;
			font-weight: bold;
			box-shadow: 0 5px 1px -1px lightgrey;
			transition: 0.5s;
			background-image: linear-gradient(-120deg, #ec89ff 0%, #4285f4 50%, #00e3fd 100%);
			background-size: 200% auto;
		}
		.cta-btn a:hover {
			transform: translateY(3px);
			background-position: right center;
			box-shadow: 0 3px 1px -1px grey;
			color: #fff;
		}
	/* PRIMARY BUTTON */	
		.primary-btn a {
			width: auto;
			color: #fff;
			margin: 26px 0 0;
			padding: 12px 24px;
			border-radius: 40px;
			border: none;
			font-size: 16px;
			font-weight: bold;
			background-color: rgb(66,133,244);
			transition: .3s;
		}
		.primary-btn a:hover {
			transform: translateY(3px);
			background-color: rgb(7,48,66);
			color: rgb(214,240,255);
		}
	/* SECONDARY BUTTON */
		.secondary-btn a {
			width: 100%;
			color: #fff;
			margin: 26px 0 0;
			padding: 12px 24px;
			border-radius: 40px;
			border: none;
			font-size: 16px;
			font-weight: bold;
			background-color: rgba(255, 255, 255, .25);
			backdrop-filter: blur(2px);
			transition: .3s;
		}
		.secondary-btn a:hover {
			transform: translateY(3px);
			background-color: rgba(7,48,66, .50);
			color: #fff;
		}

/* HEADER */
	#header .navbar {
		background-color: transparent;
		-webkit-transition: 1s;
    transition: 1s;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99;
	}
	#header #navbarNav a {
		text-decoration: none;
		width: 100%;
		padding: 12px 24px;
		font-size: 16px;
		font-weight: bold;
		transition: .3s;
	}
	#header #navbarNav a::after {
		content: '';
		width: 0%;
		height: 4px;
	  display: block;
		transition: .3s;
		border-radius: 40px;
	}
	#header #navbarNav a:hover::after {
		content: '';
		width: 100%;
		height: 4px;
		background: #4285f4;
	}
	#header .navbar.solid {
		background: #fff;
		-webkit-box-shadow: 0px 6px 40px -12px rgba(0, 0, 0, 0.35);
		box-shadow: 0px 6px 40px -12px rgba(0, 0, 0, 0.35);
	}
	#header .nav-link {
		color: #fff;
	}
	#header .nav-link:hover {
		transform: translateX(3px);
	}
	#header .nav-link.link-color-menu {
		color: rgb(108, 117, 125);
	}

/* LANDING */
	#landing {
		padding: 80px 0 0;
	}
	/* FLUID LANDING */
		#fluid {
			position: absolute;
			right: 0;
			left: 0;
			top: -7%;
			z-index: -1;
		}
	/* SLOGAN */
		#landing .slogan {
			margin: 120px 0;
			padding: 0 20px;
		}
		#landing .slogan h1 {
			font-size: 38px;
			font-weight: bold;
			line-height: 1.6;
			letter-spacing: -1.5px;
			animation: flow 30s ease-in-out infinite;
			background: linear-gradient(-120deg, #073042, #ec89ff, #4285f4, #00e3fd);
			background-size: 300%;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		@keyframes flow {
			0% {
				background-position: 0 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0;
			}
		}
		#landing .slogan p {
			font-size: 18px;
			font-weight: bold;
			letter-spacing: -0.5px;
			color: rgb(108, 117, 125);
		}
		
	/* ISOMETRIC */
		#landing .isometric #pin {
			position: absolute;
			-webkit-animation: up-down 1s infinite  alternate;
			animation: up-down 1s infinite  alternate;
		}
		@-webkit-keyframes up-down {
			0% { 
				transform: translateY(0); 
			}
			100% { 
				transform: translateY(-10px); 
			}
		}
		@keyframes up-down {
			0% { 
				transform: translateY(0); 
			}
			100% { 
				transform: translateY(-10px); 
			}
		}
		/* PIN GOV */
			#landing .isometric #pin .gov {
				margin: 10rem 0 0 28rem;
				cursor: pointer;
			}
			#landing .isometric #pin .gov {
			  position: absolute;
			  display: inline-block;
			}
			#landing .isometric #pin .gov .tooltiptext {
			  visibility: hidden;
			  background-color: #073042;
			  color: #fff;
			  text-align: center;
			  border-radius: 12px;
			  padding: 12px 0;
			  width: 200px;
			  /* Position the tooltip */
			  position: absolute;
			  z-index: 1;
				right: 105%;
			}
			#landing .isometric #pin .gov:hover .tooltiptext {
			  visibility: visible;
			}

		/* PIN BRANDING */
			#landing .isometric #pin .branding {
				margin: 5rem 0 0 13rem;
				cursor: pointer;
			}
			#landing .isometric #pin .branding {
			  position: absolute;
			  display: inline-block;
			}
			#landing .isometric #pin .branding .tooltiptext {
			  visibility: hidden;
			  background-color: #073042;
			  color: #fff;
			  text-align: center;
			  border-radius: 12px;
			  padding: 12px 0;
			  width: 200px;
			  /* Position the tooltip */
			  position: absolute;
			  z-index: 1;
			}
			#landing .isometric #pin .branding:hover .tooltiptext {
			  visibility: visible;
			}

		/* PIN ECONOMY */
			#landing .isometric #pin .economy {
				margin: 12rem 0 0 2rem;
				cursor: pointer;
			}
			#landing .isometric #pin .economy {
			  position: absolute;
			  display: inline-block;
			}
			#landing .isometric #pin .economy .tooltiptext {
			  visibility: hidden;
			  background-color: #073042;
			  color: #fff;
			  text-align: center;
			  border-radius: 12px;
			  padding: 12px 0;
			  width: 200px;
			  /* Position the tooltip */
			  position: absolute;
			  z-index: 1;
			}
			#landing .isometric #pin .economy:hover .tooltiptext {
			  visibility: visible;
			}

		/* PIN LIVING */
			#landing .isometric #pin .living {
				margin: 4rem 0 0 7rem;
				cursor: pointer;
			}
			#landing .isometric #pin .living {
			  position: absolute;
			  display: inline-block;
			}
			#landing .isometric #pin .living .tooltiptext {
			  visibility: hidden;
			  background-color: #073042;
			  color: #fff;
			  text-align: center;
			  border-radius: 12px;
			  padding: 12px 0;
			  width: 200px;
			  /* Position the tooltip */
			  position: absolute;
			  z-index: 1;
			}
			#landing .isometric #pin .living:hover .tooltiptext {
			  visibility: visible;
			}

		/* PIN SOCIETY */
			#landing .isometric #pin .society {
				margin: 17rem 0 0 6rem;
				cursor: pointer;
			}
			#landing .isometric #pin .society {
			  position: absolute;
			  display: inline-block;
			}
			#landing .isometric #pin .society .tooltiptext {
			  visibility: hidden;
			  background-color: #073042;
			  color: #fff;
			  text-align: center;
			  border-radius: 12px;
			  padding: 12px 0;
			  width: 200px;
			  /* Position the tooltip */
			  position: absolute;
			  z-index: 1;
			}
			#landing .isometric #pin .society:hover .tooltiptext {
			  visibility: visible;
			}

		/* PIN ENVIRONMENT */
			#landing .isometric #pin .environment {
				margin: 19rem 0 0 20rem;
				cursor: pointer;
			}
			#landing .isometric #pin .environment {
			  position: absolute;
			  display: inline-block;
			}
			#landing .isometric #pin .environment .tooltiptext {
			  visibility: hidden;
			  background-color: #073042;
			  color: #fff;
			  text-align: center;
			  border-radius: 12px;
			  padding: 12px 0;
			  width: 200px;
			  /* Position the tooltip */
			  position: absolute;
			  z-index: 1;
			}
			#landing .isometric #pin .environment:hover .tooltiptext {
			  visibility: visible;
			}

/* MASUKAN MASYARAKAT*/

	@media (prefers-reduced-motion: reduce) {
		.carousel-item {
	    transition: .3s;
		}
	}

	.carousel-indicators li {
		background-color: #4285f4;
	}

	#masukan .wrapper {
		color: #fff;
		border-radius: 10px;
		border: none;
		background: linear-gradient(-120deg, #00e3fd, #4285f4);
		-webkit-box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.5);
	}

	#masukan .wrapper .title {
		font-size: 22px;
	}
	#masukan .wrapper .subtitle {
		font-size: 14px;
	}

/* ABOUT */
	#about {
		padding: 0 0 80px;
	}
	#about .video-wrapper {
		margin-top: 60px;
	}
	#about .video-wrapper iframe {
		top: 0;
		left: 0;
		border: 0;
		width: 80%;
		height: 360px;
		border-radius: 20px;
		background-color: #000;
		opacity: .3;
	}

/* LAYANAN */
	#layanan {
		padding: 80px 0;
	}
	#layanan .border {
		border: 2px solid black;
		width: 20%;
	}
	#layanan img {
		width: 55%;
	}
	#layanan .layanan  {
		width: 55%;
	}

/* SMART CITY CATS */
	#smart-city {
		padding: 80px 0 0;
	}
	#smart-city .card-custom {
		padding: 40px 60px;
		border-radius: 30px;
		background: linear-gradient(-120deg, #00e3fd, #4285f4);
		-webkit-box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.5);
		color: #fff;
	}
	#smart-city .card-custom .categories {
		margin-top: 0px;
	}
	#smart-city .card-custom .title {
		width: 25%;
		line-height: 1.2;
		text-transform: uppercase;
		font-size: 34px;
		font-weight: 700;
		text-align: left;
	}
	#smart-city .card-custom .info {
		padding: 15px 0 0;
		width: 100%;
	}
	#smart-city .card-custom .info span {
		width: 8px;
		height: 8px;
		display: inline-block;
		background-color: rgb(255,255,255);
		opacity: .7;
		border-radius: 50%;
		margin-right: 10px;
	}

/* PARTNERS */
	#partners {
		padding: 80px 0 40px;
		background-color: #e9ecef;
	}
	#partners .border {
		border: 2px solid black;
		width: 20%;
	}
	#partners img {
		width: 55%;
	}

/* UPDATE */
	#update {
		padding: 80px 0;
	}
	/* MAIN CARD */
		#update .card-update {
			padding: 40px 60px;
			background: #fff;
			-webkit-box-shadow: 0px 15px 40px -5px rgba(0, 0, 0, 0.1);
			box-shadow: 0px 15px 40px -5px rgba(0, 0, 0, 0.1);
			border-radius: 30px;
		}
		#update .card-update img {
			width: 100%;
			margin: auto;
		}
		#update .card-update .new {
			text-transform: uppercase;
			padding: 0 0 12px;
			color: rgb(108, 117, 125);
			font-weight: bold;
		}
		#update .card-update .title {
			width: 100%;
			font-size: 30px;
			font-weight: 700;
			line-height: 1.1;
		}
		#update .card-update .date {
			margin-top: 8px;
			font-size: 14px;
			font-weight: 700;
			color: rgb(108, 117, 125);
		}
		#update .card-update .uploaded {
			font-size: 14px;
			color: rgb(108, 117, 125);
		} 
		#update .card-update .info {
			margin-top: 8px;
			font-size: 14px;
		}
		#update .card-update .update-btn a {
			width: auto;
			color: #fff;
			margin: 26px 0 0;
			padding: 12px 24px;
			border-radius: 40px;
			border: none;
			font-size: 16px;
			font-weight: bold;
			background-color: rgb(66,133,244);
			transition: .3s;
		}
		#update .card-update .update-btn a:hover {
			transform: translateY(3px);
			background-color: rgb(7,48,66);
			color: rgb(214,240,255);
		}
	/* SECOND CARDS */
		#update .card-update-second {
			padding: 30px 30px;
			background: #fff;
			-webkit-box-shadow: 0px 15px 40px -5px rgba(0, 0, 0, 0.1);
			box-shadow: 0px 15px 40px -5px rgba(0, 0, 0, 0.1);
			border-radius: 30px;
		}
		#update .card-update-second .picture {
			width: 60%;
			margin: auto;
		}
		#update .card-update-second img {
			width: 100%;
			border-radius: 20px;
		}
		#update .card-update-second .data {
			width: 50%;
			padding: 0 0 0 20px;
		}
		#update .card-update-second .title {
			width: 100%;
			font-size: 22px;
			font-weight: 700;
			text-align: left;
			line-height: 1.2;
		}
		#update .card-update-second .date {
	    font-size: 12px;
	    font-weight: 700;
	    text-align: left;
	    color: rgb(108, 117, 125);
		}
		#update .card-update-second .info {
			padding: 15px 0 0;
			text-align: left;
			font-size: 12px;
			line-height: 1.4;
		}
		#update .card-update-second .btn-wrapper {
			height: 100%;
		}
		#update .card-update-second .second-more {
			font-size: 14px;
			text-decoration: none;
	    color: #4285f4;
	    transition: .3s;
		}
		#update .card-update-second .second-more:hover {
	    color: rgb(108, 117, 125);
			transform: translateX(3px);
		}
	/* MORE */
		#update .more-card-wrapper {
			height: 100%;
		}
		#update .more-card {
			width: auto;
		}
		#update .more-card a {
			width: 100%;
			color: rgb(108, 117, 125);
			padding: 12px 24px;
			font-size: 14px;
			font-weight: bold;
			transition: .3s;
			text-decoration: none;
		}
		#update .more-card a:hover {
			transform: translateX(5px);
			color: #000;
		}

/* MEDIA QUERIES */

	/*Extra small devices (portrait phones, less than 576px)*/
	@media (max-width: 575.98px) { 
		/* LANDING */
			/* FLUID LANDING */
				#fluid {
					position: absolute;
					right: 0;
					left: 0;
					top: 0%;
					z-index: -1;
				}
			#landing {
				padding: 0;
			}
			#landing .isometric #pin {
				margin: 0;
			}
			#landing .isometric .svg-img {
				position: absolute; 
				z-index: 1;
				left: 0;
			}
			#landing .isometric .bg-isometric {
				height: 100%;
			}
			/* SLOGAN */
				#landing .slogan {
					margin: 120px 0 0;
					padding: 0 30px 0;
				}
				#landing .slogan h1 {
					font-size: 24px;
					width: 70%;
				}
				#landing .slogan p {
					font-size: 14px;
					width: 70%;
				}
		/* ABOUT */
			#about {
				padding: 80px 0 0;
				background-color: #e9ecef;
			}
			#about .video {
				margin-top: -140px;
			}
			#about .video iframe {			
				height: 240px;
			}
		/* PARTNERS */
			#partners {
				padding: 40px 0;
			}
			#partners img {
				width: 80%;
			}
		/* UPDATE */
			#update .card-update {
				padding: 40px;
			}
			#update .card-update .new {
				font-size: 14px;
			}
			#update .card-update .date {
				font-size: 12px;
			}
			#update .card-update .title {
				font-size: 20px;
			}
			#update .card-update .info {
				font-size: 12px;
			}
			/* SECOND */
				#update .second-col-card {
					padding: 1.5rem 0;
				}
				#update .card-update-second {
					padding: 20px 20px;
				}
				#update .card-update-second .title {
			    font-size: 14px;
			    line-height: 1.1;
				}
				#update .card-update-second .date {
					font-size: 10px;
				}
				#update .card-update-second .info {
			    padding: 8px 0 0;
			    font-size: 10px;
			    line-height: 1.1;
				}
				#update .more-card {
					padding: 10px 15px;
				}
		/* GLOBAL HEADING */
			h2 {
				font-size: 32px;
			}
			h5 {
				font-size: 16px;
			}
		/* GLOBAL BUTTON */
			/* CTA BUTTON */
				.cta-btn a {
					margin: 10px 0;
					padding: 10px 18px;
					font-size: 14px;
				}
			/*PRIMARY BUTTON */
				.primary-btn {
					padding: 20px 0;
				}
				.primary-btn a {
					margin: 10px 0;
					padding: 10px 18px;
					font-size: 14px;
				}
			/*UPDATE BUTTON*/
				.update-btn {
					text-align: center;
				}
				.update-btn a {
					width: 100%;
					margin: 26px 0 6px;
					padding: 12px 22px;
					font-size: 12px;
				}
				.second-update-btn a {
					padding: 8px 20px;
					font-size: 10px;
				}
				.btn-more a {
					padding: 10px 22px;
					font-size: 10px;
				}
	
		/* PIN */
			/* PIN GOVERNANCE */
				#landing .isometric #pin .gov {
					margin: 9rem 0 0 24rem;
				}
				#landing .isometric #pin .gov img {
					width: 25px;
				}
			/* PIN BRANDING */
				#landing .isometric #pin .branding {
					margin: 5rem 0 0 11rem;
				}
				#landing .isometric #pin .branding img {
					width: 25px;
				}
			/* PIN ECONOMY */
				#landing .isometric #pin .economy {
					margin: 10rem 0 0 2rem;
				}
				#landing .isometric #pin .economy img {
					width: 25px;
				}
			/* PIN LIVING */
				#landing .isometric #pin .living {
					margin: 4rem 0 0 6rem;
				}
				#landing .isometric #pin .living img {
					width: 25px;
				}
			/* PIN SOCIETY */
				#landing .isometric #pin .society {
					margin: 14rem 0 0 6rem;
				}
				#landing .isometric #pin .society img {
					width: 25px;
				}
			/* PIN ENVIRONMENT */
				#landing .isometric #pin .environment {
					margin: 16rem 0 0 15rem;
				}
				#landing .isometric #pin .environment img {
					width: 25px;
				}
	}

	/* Small devices (landscape phones, 576px and up)*/
	@media (min-width: 576px) and (max-width: 767.98px) {
		/* LANDING */
			/* FLUID LANDING */
				#fluid {
					position: absolute;
					right: 0;
					left: 0;
					top: 0%;
					z-index: -1;
				}
			#landing {
				padding: 0;
			}
			#landing .isometric .bg-isometric {
				margin-top: 5rem;
				height: 50%;
			}
			/* SLOGAN */
				#landing .slogan {
					margin: 120px 0;
					padding: 0 12px 60px;
				}
				#landing .slogan h1 {
					font-size: 24px;
				}
				#landing .slogan p {
					font-size: 12px;
				}
		/* ABOUT */
			#about {
				padding: 80px 0 0;
				background-color: #e9ecef;
			}
			#about .video {
				margin-top: -160px;
			}
			#about .video iframe {			
				height: 320px;
			}
		/* PARTNERS */
			#partners {
				padding: 40px 0;
			}
			#partners img {
				width: 80%;
			}
		/* UPDATE */
			#update .second-col-card {
				padding: 1.5rem 0;
			}
		/* GLOBAL HEADING */
			h2 {
				font-size: 32px;
			}
			h5 {
				font-size: 16px;
			}
		/* GLOBAL BUTTON */
			/* CTA BUTTON */
				.cta-btn a {
					margin: 10px 0;
					padding: 10px 18px;
					font-size: 14px;
				}
			/*PRIMARY BUTTON */
				.primary-btn {
					padding: 20px 0;
				}
				.primary-btn a {
					margin: 10px 0;
					padding: 10px 18px;
					font-size: 14px;
				}
		/* PIN */
			/* PIN GOVERNANCE */
				#landing .isometric #pin .gov {
					margin: 11rem 0 0 17rem;
				}
				#landing .isometric #pin .gov img {
					width: 20px;
				}
			/* PIN BRANDING */
				#landing .isometric #pin .branding {
					margin: 8rem 0 0 8rem;
				}
				#landing .isometric #pin .branding img {
					width: 20px;
				}
			/* PIN ECONOMY */
				#landing .isometric #pin .economy img {
					width: 20px;
				}
			/* PIN LIVING */
				#landing .isometric #pin .living {
					margin: 7rem 0 0 4rem;
				}
				#landing .isometric #pin .living img {
					width: 20px;
				}
			/* PIN SOCIETY */
				#landing .isometric #pin .society {
					margin: 15rem 0 0 4rem;
				}
				#landing .isometric #pin .society img {
					width: 20px;
				}
			/* PIN ENVIRONMENT */
				#landing .isometric #pin .environment {
					margin: 17rem 0 0 12rem;
				}
				#landing .isometric #pin .environment img {
					width: 20px;
				}
		/* MASUKAN */
			#masukan .wrapper .title {
				font-size: 18px;
			}
			#masukan .wrapper .subtitle {
				font-size: 12px;
			}
	}
	
	/* Medium devices (tablets, 768px and up)*/
	@media (min-width: 768px) and (max-width: 991.98px) {
		/* LANDING */
			/* FLUID LANDING */
				#fluid {
					position: absolute;
					right: 0;
					left: 0;
					top: 0%;
					z-index: -1;
				}
			#landing {
				padding: 60px 0;
			}
			#landing .isometric #pin {
				height: 50%;
			}
			#landing .isometric .bg-isometric {
			}
			/* SLOGAN */
				#landing .slogan {
					margin: 120px 0;
					padding: 0 12px 60px;
				}
				#landing .slogan h1 {
					font-size: 30px;
				}
				#landing .slogan p {
					font-size: 16px;
				}
		/* ABOUT */
			#about {
				padding: 80px 0 0;
				background-color: #e9ecef;
			}
			#about .video {
				margin-top: -160px;
			}
			#about .video iframe {			
				height: 320px;
			}
		/* PARTNERS */
			#partners {
				padding: 40px 0;
			}
			#partners img {
				width: 80%;
			}
		/* UPDATE */
			#update .second-col-card {
				padding: 1.5rem 0;
			}
		/* SMART CITY CATS */
			#smart-city .card-custom {
				padding: 40px 40px;
			}
		/* GLOBAL HEADING */
			h2 {
				font-size: 32px;
			}
			h5 {
				font-size: 16px;
			}

		/* PIN */
			/* PIN GOV */
				#landing .isometric #pin .gov {
					margin: 5rem 0 0 17rem;
				}
				#landing .isometric #pin .gov img {
					width: 25px;
				}
			/* PIN BRANDING */
				#landing .isometric #pin .branding {
					margin: 3rem 0 0 8rem;
				}
				#landing .isometric #pin .branding img {
					width: 25px;
				}
			/* PIN ECONOMY */
				#landing .isometric #pin .economy {
					margin: 6rem 0 0 1rem;
				}
				#landing .isometric #pin .economy img {
					width: 25px;
				}
			/* PIN LIVING */
				#landing .isometric #pin .living {
					margin: 1rem 0 0 4rem;
				}
				#landing .isometric #pin .living img {
					width: 25px;
				}
			/* PIN SOCIETY */
				#landing .isometric #pin .society {
					margin: 9rem 0 0 4rem;
				}
				#landing .isometric #pin .society img {
					width: 25px;
				}
			/* PIN ENVIRONMENT */
				#landing .isometric #pin .environment {
					margin: 11rem 0 0 12rem;
				}
				#landing .isometric #pin .environment img {
					width: 25px;
				}
	}
	
	/*Large devices (desktops, 992px and up)*/
	@media (min-width: 992px) and (max-width: 1199.98px) {
		/* SMART CITY CATS */
			#smart-city .card-custom {
				padding: 40px 40px;
			}

			#smart-city .card-custom .info {
		    font-size: 14px;
			}

			#smart-city .card-custom .title {
			  width: 25%;
				line-height: 1.2;
				text-transform: uppercase;
				font-size: 28px;
				font-weight: 700;
				text-align: left;
			}
	}


